<!-- sigmacell.launch -->
<launch>

  <!-- Load the robot description from the Xacro file -->
  <arg name="xacro_file" default="$(find test)/sigma_cell.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg xacro_file)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find test)/rviz/cell.rviz"/>

  <!-- Run the marker.py script -->
  <node name="marker_node" pkg="test" type="marker_publisher.py" output="screen"/>
  

</launch>

